<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
</head>
<body>
    <h1>The Basic Chat App</h1>
    <h2>Welcome to the chat room!</h2>
    <div id="chat-container">
        <ul id="chat-messages"></ul>
        <form id="chat-form">
            <input type="text" id="chat-input">
            <button type="submit">Send</button>
        </form>
    </div>

    <script>
        var client_id = "{{ name }}";
        var socket = new WebSocket("ws://" + window.location.host + "/chat/" + client_id);
        var chatForm = document.getElementById("chat-form");
        var chatInput = document.getElementById("chat-input");
        var chatMessages = document.getElementById("chat-messages");

        chatForm.addEventListener("submit", function(e) {
            e.preventDefault();
            socket.send(chatInput.value);
            chatInput.value = "";
        });

        socket.onmessage = function(event) {
            var messageElement = document.createElement("li");
            messageElement.textContent = event.data;
            chatMessages.appendChild(messageElement);
        };
    </script>
</body>
</html>
