<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
    <h1>Registration Page</h1>
    <form id="register-form", action="/chat" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <button type="submit">Register</button>
    </form>

    <!-- <script> -->
        <!-- // async function getClientInfo() {
        //     let ipAddress = '';
        //     try {
        //         const response = await fetch('https://api.ipify.org/?format=json');
        //         const data = await response.json();
        //         ipAddress = data.ip;
        //     } catch (error) {
        //         console.error('Error getting IP address:', error);
        //     }
        //     console.log(ipAddress)
        //     return {
        //         name: document.getElementById('name').value,
        //         userAgent: navigator.userAgent,
        //         language: navigator.language,
        //         platform: navigator.platform,
        //         ipAddress: ipAddress,
        //         screenWidth: screen.width,
        //         screenHeight: screen.height,
        //         windowWidth: window.innerWidth,
        //         windowHeight: window.innerHeight,
        //     };
        // }
        // const registerForm = document.getElementById('register-form');
        // registerForm.addEventListener('submit', async (event) => {
        //     event.preventDefault();
        //     clientInfo = await {name : document.getElementById('name').value}
        //     // const clientInfo = await getClientInfo();
        //     // console.log('Submitting registration:', clientInfo);
        //     // Send the registration data to the server using a fetch request
        //     await fetch('/chat', {
        //         method: 'POST',
        //         headers: { 'Content-Type': 'application/json' },
        //         body: JSON.stringify(clientInfo),
        //     });
        //     console.log(JSON.stringify(clientInfo))
        //     // console.log(JSON.stringify(clientInfo))
        //     // console.log('Fetch completed.');
        //     // print(window.location.host)
        //     // Redirect to the chat page after registration
        //     // window.location.href = `/chat`

        // }); -->
    <!-- </script> -->
</body>
</html>
